:host {
    --needed-space: calc(2 * var(--padding-width) + 2 * var(--border-width) + 2 *var(--margin-width));
    display: flex;
    flex-direction: column;
    width: calc(50% - var(--needed-space));
    margin-left: var(--margin-width);
    margin-bottom: var(--margin-width);
    padding-left: var(--padding-width);
    padding-bottom: var(--padding-width);
    border-left: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    > span, 
    > h4 {
        margin-bottom: var(--margin-width);
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: var(--text-color);
        outline: none;

        &:focus, &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
            text-decoration-thickness: 1px;
            text-decoration-color: #000;
        }
    }
    .expanded-content {
        display: flex;
        transition: height 0.1s ease;
        height: 0;
        flex-direction: column;
        overflow-y: hidden;

        .expanded-content-item {
            margin-bottom: var(--margin-width);
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .expanded-content-item-label {
            font-weight: bold;
        }
    }
    .expanded-content.expanded {
        height: auto;
    }

}